@mixin center {
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
}

@mixin center-horizontally () {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

@mixin center-vertically () {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}
